<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    
    <!-- Turn this off for now -->

    {% include portfolio_grid.html %}
    
    <!-- Turn this off for now -->
    {% if false %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% endif %}
    {% include contact.html %}
    
    {% if false %}
    {% include footer.html %}
    {% include modals.html %}
    {% endif %}
    {% include js.html %}

    </body>
</html>